In [2]:
import pandas as pd
from scipy.stats import multivariate_normal

df = pd.read_csv('exI-1-data.csv');
display(df)

     y1    y2  y3  y4  y5 y6
0  0.24  0.36   1   1   0  A
1  0.16  0.48   1   0   1  A
2  0.32  0.72   0   1   2  A
3  0.54  0.11   0   0   1  B
4  0.66  0.39   0   0   0  B
5  0.76  0.28   1   0   2  B
6  0.41  0.53   0   1   1  B
7  0.38  0.52   0   1   0  A
8  0.42  0.59   0   1   1  B

In [3]:
training_df = df.head(7)
testing_df = df.tail(2)

training_dfA = training_df[training_df['y6'] == 'A']
training_dfB = training_df[training_df['y6'] == 'B']

In [4]:
display(training_dfB)

     y1    y2  y3  y4  y5 y6
3  0.54  0.11   0   0   1  B
4  0.66  0.39   0   0   0  B
5  0.76  0.28   1   0   2  B
6  0.41  0.53   0   1   1  B

In [5]:
mean_vectorA = list(training_dfA.mean()[:2])

cov_matrixA = training_dfA.drop(['y3', 'y4', 'y5', 'y6'], axis=1).cov()
cov_matrixA = [list(cov_matrixA['y1']), list(cov_matrixA['y2'])]

normalA_x8 = multivariate_normal(mean_vectorA, cov_matrixA).pdf([0.38, 0.52])
print(normalA_x8)

normalA_x9 = multivariate_normal(mean_vectorA, cov_matrixA).pdf([0.42, 0.59])
print(normalA_x9)

0.9847047567047768
0.4030709859326153

/tmp/ipykernel_15425/1102013606.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_vectorA = list(training_dfA.mean()[:2])

In [6]:
mean_vectorB = list(training_dfB.mean()[:2])

cov_matrixB = training_dfB.drop(['y3', 'y4', 'y5', 'y6'], axis=1).cov()
cov_matrixB = [list(cov_matrixB['y1']), list(cov_matrixB['y2'])]

normalB_x8 = multivariate_normal(mean_vectorB, cov_matrixB).pdf([0.38, 0.52])
print(normalB_x8)

normalB_x9 = multivariate_normal(mean_vectorB, cov_matrixB).pdf([0.42, 0.59])
print(normalB_x9)

1.9623691378628605
1.7285705872234594

/tmp/ipykernel_15425/3130929580.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_vectorB = list(training_dfB.mean()[:2])

In [10]:
mean_vector_all = list(training_df.mean()[:2])

cov_matrix_all = training_df.drop(['y3', 'y4', 'y5', 'y6'], axis=1).cov()
cov_matrix_all = [list(cov_matrix_all['y1']), list(cov_matrix_all['y2'])]

normal_all_x8 = multivariate_normal(mean_vector_all, cov_matrix_all).pdf([0.38, 0.52])
print(normal_all_x8)

normal_all_x9 = multivariate_normal(mean_vector_all, cov_matrix_all).pdf([0.42, 0.59])
print(normal_all_x9)

3.6224715484985683
2.538806800592317

/tmp/ipykernel_15425/3553873049.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_vector_all = list(training_df.mean()[:2])